*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Open Sans, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b29a;
  min-height: 100vh;
}

.panel-pricing-table {
  padding: 2rem 4rem;
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: space-evenly;
  flex-direction: column;
  background-color: #edf2f4;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 650px;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  flex: 1;
  border-bottom: 2px solid #ccd2d6;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.pricing-header {
  color: #6c7175;
}

.pricing-features {
  margin: 2rem 0 1rem;
  color: hsl(151, 44%, 40%);
}

.pricing-features-item {
  padding: 1rem 0;
  line-height: 1.5;
  border-top: 2px solid #ccd2d6;
}

.pricing-features-item:last-child {
  border-bottom: 2px solid #ccd2d6;
}

.pricing-header,
.pricing-features-item {
  letter-spacing: 1px;
}

.pricing-price {
  display: block;
  font-size: 2.5rem;
  font-weight: bolder;
  color: hsl(151, 54%, 50%);
}

.pricing-button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: 2px solid #81b29a;
  border-radius: 20px;
  color: hsl(151, 34%, 50%);
  text-decoration: none;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.pricing-button:hover {
  background-color: hsla(151, 44%, 90%, 0.535);
  transform: translateY(-4px);
}

.pricing-button.is-featured {
  background-color: #81b29a;
  color: #edf2f4;
}

.pricing-button.pricing-button.is-featured:hover {
  background-color: hsl(151, 34%, 50%);
}

@media (min-width: 1065px) {
  .panel-pricing-table {
    flex-direction: row;
  }

  .pricing-plan {
    border-bottom: none;
    border-right: 2px solid #ccd2d6;
    padding: 1rem 2rem;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}
